:root {
    --white: #fff;
    --light-gray: #dfe0e2;
    --silver: #AAAAAA;
    --light-brown: #B7999C;
    --red: #EB5160;
    --black: #071013;
}

@font-face {
    font-family: Kanit-bold;
    src: url(/Fonts/Kanit/Kanit-Bold.ttf);
}

* {
    margin: 0;
    font-family: Kanit-bold;
    color: #000;
}

nav {
    
    padding-top: 32px;
    padding-bottom: 32px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

nav, #navMenuL ul , #navMenuR ul, #navBarLogo {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: -30px;
    margin-left: 30px;
}


#navMenuL ul li a, #navMenuR ul li a {
text-decoration: none;
margin: 0px 20px 0px 20px;
padding: 10px;
font-size: 20px;
text-transform: uppercase;
color: #fff;
}

#navMenuL ul li a:hover, #navMenuR ul li a:hover {
    transition: 500ms;
    color: var(--red);
}

#navMenuL ul li a:active, #navMenuR ul li a:active {
    color: var(--light-brown);
}

#navMenuL ul li a:visited, #navMenuR ul li a:visited {
    color: #8b7476;
}

nav li {
list-style: none;
}

.Section_top {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(/Images/Bckg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}